@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

body {
  /* background-image: url("./images/classroom-background.jpg"); */
  /* background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgb(55,155,255,.5), rgb(55,135,111)); */
  background-color: rgb(55,135,111);
  font-family: 'Merriweather', serif;
}

.jumbotron {
  border-style: solid;
  size: 40px;
}

.navbar { 
  background-color: rgb(255, 255, 255);
  padding-bottom: 0;
} 

.red {
  color: red;
}

:disabled {
  color: black;
}

::placeholder {
  color: black;
}
